# its use to spilt the data into GROPS by some criteria
Syntax  :  DataFrame.groupby()

- spliting the Object
- Applying a function
- Combining the result

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:\Workspace\Pri\data science and ML practice\jupyter\student_results_digits.csv')
df

   Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg
0    1001     10         2          9           3              5      50
1    1002     10         6          8           2              0      80
2    1003     10         3          8           2              4      60
3    1004     11         0         10           1              5      45
4    1005     11         4          7           2              0      75
5    1006     11        10          7           3              0      96
6    1007     12         4          6           3              0      80
7    1008     12        10          6           1              0      90
8    1009     12         2          8           2              4      60
9    1010     12         6          9           1              0      85

In [3]:
gf = df.groupby(by = 'Class')
gf

In [4]:
gf.groups

{10: [0, 1, 2], 11: [3, 4, 5], 12: [6, 7, 8, 9]}

In [5]:
gf1 = df.groupby(by = 'Perctg')
gf1

In [6]:
gf1.groups

{45: [3], 50: [0], 60: [2, 8], 75: [4], 80: [1, 6], 85: [9], 90: [7], 96: [5]}

In [7]:
gf2 = df.groupby(by = 'Slpng_hrs')
gf2

In [8]:
gf2.groups

{6: [6, 7], 7: [4, 5], 8: [1, 2, 8], 9: [0, 9], 10: [3]}

#                    # for full details

In [9]:
list(gf2)

[(6,
     Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg
  6    1007     12         4          6           3              0      80
  7    1008     12        10          6           1              0      90),
 (7,
     Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg
  4    1005     11         4          7           2              0      75
  5    1006     11        10          7           3              0      96),
 (8,
     Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg
  1    1002     10         6          8           2              0      80
  2    1003     10         3          8           2              4      60
  8    1009     12         2          8           2              4      60),
 (9,
     Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg
  0    1001     10         2          9           3              5      50
  9    1010     12         6          9           1              0      85),
 (10,
     Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg
  3    1004     11         0         10           1              5      45)]

# or

In [10]:
dict(list(gf2))

{6:    Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg
 6    1007     12         4          6           3              0      80
 7    1008     12        10          6           1              0      90,
 7:    Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg
 4    1005     11         4          7           2              0      75
 5    1006     11        10          7           3              0      96,
 8:    Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg
 1    1002     10         6          8           2              0      80
 2    1003     10         3          8           2              4      60
 8    1009     12         2          8           2              4      60,
 9:    Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg
 0    1001     10         2          9           3              5      50
 9    1010     12         6          9           1              0      85,
 10:    Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg
 3    1004     11         0         10           1              5      45}

#                                or

In [11]:
for Slpng_hrs, df2 in gf2:
    print(Slpng_hrs)
    print(df2)

6
   Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg
6    1007     12         4          6           3              0      80
7    1008     12        10          6           1              0      90
7
   Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg
4    1005     11         4          7           2              0      75
5    1006     11        10          7           3              0      96
8
   Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg
1    1002     10         6          8           2              0      80
2    1003     10         3          8           2              4      60
8    1009     12         2          8           2              4      60
9
   Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg
0    1001     10         2          9           3              5      50
9    1010     12         6          9           1              0      85
10
   Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg
3    1004     11         0         10           1              5      45

In [12]:
gf4 = df.groupby(['online_hrs']).groups
gf4

{1: [3, 7, 9], 2: [1, 2, 4, 8], 3: [0, 5, 6]}

In [13]:
gf4a = df.groupby('online_hrs').get_group(2)
gf4a

   Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg
1    1002     10         6          8           2              0      80
2    1003     10         3          8           2              4      60
4    1005     11         4          7           2              0      75
8    1009     12         2          8           2              4      60

In [15]:
gf4b = df.groupby('online_hrs')
gf4b

In [18]:
gf4b.groups

{1: [3, 7, 9], 2: [1, 2, 4, 8], 3: [0, 5, 6]}

In [19]:
gf4b.sum()

            Stu_ID  Class  Stdy_hrs  Slpng_hrs  Mob.Games_hrs  Perctg
online_hrs
1             3022     35        16         25              5     220
2             4019     43        15         31              8     275
3             3014     33        16         22              5     226

In [ ]:
gf.sum()                    # gf = 'class'        * please see up

In [ ]:
gf2.sum()                 #  gf2 = 'Slpng_hrs'           * please see up

In [ ]:
gf2.mean()

In [ ]:
gf2.describe()

In [ ]:
gf2.agg(['sum','min','max','mean'])

In [ ]:
df

In [ ]:
gf5 = df.groupby(['online_hrs','Stdy_hrs']).groups   # start from 0 from first section * online_hrs = 0,1,2,3.....
gf5

In [ ]:
gf5a = df.groupby(['Stdy_hrs','online_hrs']).groups   # start from 0 from first section * Stdy_hrs = 0,1,2,3.....
gf5a