In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Workspace\Pri\\data science and ML practice\jupyter\\student_results.csv')
print(df)

   Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg dumy
0    1001     10         2          9           3              5      50  yes
1    1002     10         6          8           2              0      80  yes
2    1003     10         3          8           2              4      60   no
3    1004     11         0         10           1              5      45   no
4    1005     11         4          7           2              0      75  yes
5    1006     11        10          7           0              0      96  yes
6    1007     12         4          6           0              0      80  yes
7    1008     12        10          6           2              0      90   no
8    1009     12         2          8           2              4      60   no
9    1010     12         6          9           1              0      85  yes

In [3]:
df_1 = pd.read_csv('C:\Workspace\Pri\data science and ML practice\jupyter\\Top-10-IT-Companies-in-India.csv')
print(df_1)

  Top 10 IT Companies in India
0                          TCS
1                      Infosys
2                Tech Mahindra
3                        Wipro
4             HCL Technologies
5                 L&T Infotech
6                     Mindtree
7                      Mphasis
8    Oracle Financial Services
9                  Rotla India

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.columns , df_1.columns

(Index(['Stu_ID', 'Class', 'Stdy_hrs', 'Slpng_hrs', 'online_hrs',
        'Mob.Games_hrs', 'Perctg', 'dumy'],
       dtype='object'),
 Index(['Top 10 IT Companies in India'], dtype='object'))

In [6]:
# df.rows      # error : 'DataFrame' object has no attribute 'rows'

In [7]:
df.columns + df_1.columns

Index(['Stu_IDTop 10 IT Companies in India',
       'ClassTop 10 IT Companies in India',
       'Stdy_hrsTop 10 IT Companies in India',
       'Slpng_hrsTop 10 IT Companies in India',
       'online_hrsTop 10 IT Companies in India',
       'Mob.Games_hrsTop 10 IT Companies in India',
       'PerctgTop 10 IT Companies in India',
       'dumyTop 10 IT Companies in India'],
      dtype='object')

In [8]:
# df[2] + df_1[0]    # error : Index

In [9]:
df_2 = pd.read_csv('C:\\Workspace\Pri\\data science and ML practice\jupyter\\student_results.csv', nrows = 1)
print(df_2)

   Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg dumy
0    1001     10         2          9           3              5      50  yes

In [10]:
df_2a = pd.read_csv('C:\\Workspace\Pri\\data science and ML practice\jupyter\\student_results.csv', nrows = 5 )
print(df_2a)

   Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg dumy
0    1001     10         2          9           3              5      50  yes
1    1002     10         6          8           2              0      80  yes
2    1003     10         3          8           2              4      60   no
3    1004     11         0         10           1              5      45   no
4    1005     11         4          7           2              0      75  yes

In [11]:
df_2b = pd.read_csv('C:\\Workspace\Pri\\data science and ML practice\jupyter\\student_results.csv', nrows = 5 , usecols= [3])
print(df_2b)

   Slpng_hrs
0          9
1          8
2          8
3         10
4          7

In [12]:
df_2c = pd.read_csv('C:\\Workspace\Pri\\data science and ML practice\jupyter\\student_results.csv', nrows = 6 , usecols=[0,3])
print(df_2c)

   Stu_ID  Slpng_hrs
0    1001          9
1    1002          8
2    1003          8
3    1004         10
4    1005          7
5    1006          7

In [13]:
df = pd.read_csv('C:\\Workspace\Pri\\data science and ML practice\jupyter\\student_results.csv')
print(df)

   Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg dumy
0    1001     10         2          9           3              5      50  yes
1    1002     10         6          8           2              0      80  yes
2    1003     10         3          8           2              4      60   no
3    1004     11         0         10           1              5      45   no
4    1005     11         4          7           2              0      75  yes
5    1006     11        10          7           0              0      96  yes
6    1007     12         4          6           0              0      80  yes
7    1008     12        10          6           2              0      90   no
8    1009     12         2          8           2              4      60   no
9    1010     12         6          9           1              0      85  yes

In [14]:
df3 = pd.read_csv('C:\\Workspace\Pri\\data science and ML practice\jupyter\\student_results.csv', skiprows=1)
print(df3)

   1001  10   2   9  3  5  50  yes
0  1002  10   6   8  2  0  80  yes
1  1003  10   3   8  2  4  60   no
2  1004  11   0  10  1  5  45   no
3  1005  11   4   7  2  0  75  yes
4  1006  11  10   7  0  0  96  yes
5  1007  12   4   6  0  0  80  yes
6  1008  12  10   6  2  0  90   no
7  1009  12   2   8  2  4  60   no
8  1010  12   6   9  1  0  85  yes

In [15]:
df4 = pd.read_csv('C:\\Workspace\Pri\\data science and ML practice\jupyter\\student_results.csv', skiprows=[0,1,2,3])
print(df4)

   1004  11   0  10  1  5  45   no
0  1005  11   4   7  2  0  75  yes
1  1006  11  10   7  0  0  96  yes
2  1007  12   4   6  0  0  80  yes
3  1008  12  10   6  2  0  90   no
4  1009  12   2   8  2  4  60   no
5  1010  12   6   9  1  0  85  yes

In [16]:
df5 = pd.read_csv('C:\\Workspace\Pri\\data science and ML practice\jupyter\\student_results.csv', index_col ='Slpng_hrs')
print(df5)

           Stu_ID  Class  Stdy_hrs  online_hrs  Mob.Games_hrs  Perctg dumy
Slpng_hrs
9            1001     10         2           3              5      50  yes
8            1002     10         6           2              0      80  yes
8            1003     10         3           2              4      60   no
10           1004     11         0           1              5      45   no
7            1005     11         4           2              0      75  yes
7            1006     11        10           0              0      96  yes
6            1007     12         4           0              0      80  yes
6            1008     12        10           2              0      90   no
8            1009     12         2           2              4      60   no
9            1010     12         6           1              0      85  yes

In [17]:
df6 = pd.read_csv('C:\\Workspace\Pri\\data science and ML practice\jupyter\\student_results.csv', index_col = 1)
print(df6)

       Stu_ID  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg dumy
Class
10       1001         2          9           3              5      50  yes
10       1002         6          8           2              0      80  yes
10       1003         3          8           2              4      60   no
11       1004         0         10           1              5      45   no
11       1005         4          7           2              0      75  yes
11       1006        10          7           0              0      96  yes
12       1007         4          6           0              0      80  yes
12       1008        10          6           2              0      90   no
12       1009         2          8           2              4      60   no
12       1010         6          9           1              0      85  yes

In [18]:
df = pd.read_csv('C:\\Workspace\Pri\\data science and ML practice\jupyter\\student_results.csv')
print(df)

   Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg dumy
0    1001     10         2          9           3              5      50  yes
1    1002     10         6          8           2              0      80  yes
2    1003     10         3          8           2              4      60   no
3    1004     11         0         10           1              5      45   no
4    1005     11         4          7           2              0      75  yes
5    1006     11        10          7           0              0      96  yes
6    1007     12         4          6           0              0      80  yes
7    1008     12        10          6           2              0      90   no
8    1009     12         2          8           2              4      60   no
9    1010     12         6          9           1              0      85  yes

In [19]:
df7 = pd.read_csv('C:\\Workspace\Pri\\data science and ML practice\jupyter\\student_results.csv', header = [1])
print(df7)

   1001  10   2   9  3  5  50  yes
0  1002  10   6   8  2  0  80  yes
1  1003  10   3   8  2  4  60   no
2  1004  11   0  10  1  5  45   no
3  1005  11   4   7  2  0  75  yes
4  1006  11  10   7  0  0  96  yes
5  1007  12   4   6  0  0  80  yes
6  1008  12  10   6  2  0  90   no
7  1009  12   2   8  2  4  60   no
8  1010  12   6   9  1  0  85  yes

In [20]:
df7a = pd.read_csv('C:\\Workspace\Pri\\data science and ML practice\jupyter\\student_results.csv', header = [6])
print(df7a)

   1006  11  10  7  0  0.1  96  yes
0  1007  12   4  6  0    0  80  yes
1  1008  12  10  6  2    0  90   no
2  1009  12   2  8  2    4  60   no
3  1010  12   6  9  1    0  85  yes

In [35]:
df7b = pd.read_csv('C:\Workspace\Pri\data science and ML practice\jupyter\student_results.csv', header = None)
print(df7b)

         0      1         2          3           4              5       6  \
0   Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg
1     1001     10         2          9           3              5      50
2     1002     10         6          8           2              0      80
3     1003     10         3          8           2              4      60
4     1004     11         0         10           1              5      45
5     1005     11         4          7           2              0      75
6     1006     11        10          7           0              0      96
7     1007     12         4          6           0              0      80
8     1008     12        10          6           2              0      90
9     1009     12         2          8           2              4      60
10    1010     12         6          9           1              0      85

       7
0   dumy
1    yes
2    yes
3     no
4     no
5    yes
6    yes
7    yes
8     no
9     no
10   yes

In [22]:
df7c = pd.read_csv('C:\\Workspace\Pri\\data science and ML practice\jupyter\student_results.csv', header = None , prefix='column')
print(df7c)

   column0 column1   column2    column3     column4        column5 column6  \
0   Stu_ID   Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg
1     1001      10         2          9           3              5      50
2     1002      10         6          8           2              0      80
3     1003      10         3          8           2              4      60
4     1004      11         0         10           1              5      45
5     1005      11         4          7           2              0      75
6     1006      11        10          7           0              0      96
7     1007      12         4          6           0              0      80
8     1008      12        10          6           2              0      90
9     1009      12         2          8           2              4      60
10    1010      12         6          9           1              0      85

   column7
0     dumy
1      yes
2      yes
3       no
4       no
5      yes
6      yes
7      yes
8       no
9       no
10     yes

C:\Users\yada029\AppData\Local\Temp\ipykernel_5992\302405719.py:1: FutureWarning: The prefix argument has been deprecated and will be removed in a future version. Use a list comprehension on the column names in the future.


  df7c = pd.read_csv('C:\\Workspace\Pri\\data science and ML practice\jupyter\student_results.csv', header = None , prefix='column')

In [23]:
df.columns

Index(['Stu_ID', 'Class', 'Stdy_hrs', 'Slpng_hrs', 'online_hrs',
       'Mob.Games_hrs', 'Perctg', 'dumy'],
      dtype='object')

In [34]:
df7d = pd.read_csv('C:\Workspace\Pri\data science and ML practice\jupyter\student_results.csv', header = None , names =['Student ID', 'Class', 'Study hrs', 'Sleeping hrs',
       'Social Media usage hrs', 'Mobile Games hrs', 'Percantege'])
print(df7d)

       Student ID     Class  Study hrs Sleeping hrs Social Media usage hrs  \
Stu_ID      Class  Stdy_hrs  Slpng_hrs   online_hrs          Mob.Games_hrs
1001           10         2          9            3                      5
1002           10         6          8            2                      0
1003           10         3          8            2                      4
1004           11         0         10            1                      5
1005           11         4          7            2                      0
1006           11        10          7            0                      0
1007           12         4          6            0                      0
1008           12        10          6            2                      0
1009           12         2          8            2                      4
1010           12         6          9            1                      0

       Mobile Games hrs Percantege
Stu_ID           Perctg       dumy
1001                 50        yes
1002                 80        yes
1003                 60         no
1004                 45         no
1005                 75        yes
1006                 96        yes
1007                 80        yes
1008                 90         no
1009                 60         no
1010                 85        yes

In [25]:
print(df)

   Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg dumy
0    1001     10         2          9           3              5      50  yes
1    1002     10         6          8           2              0      80  yes
2    1003     10         3          8           2              4      60   no
3    1004     11         0         10           1              5      45   no
4    1005     11         4          7           2              0      75  yes
5    1006     11        10          7           0              0      96  yes
6    1007     12         4          6           0              0      80  yes
7    1008     12        10          6           2              0      90   no
8    1009     12         2          8           2              4      60   no
9    1010     12         6          9           1              0      85  yes

In [26]:
df.head()

   Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg dumy
0    1001     10         2          9           3              5      50  yes
1    1002     10         6          8           2              0      80  yes
2    1003     10         3          8           2              4      60   no
3    1004     11         0         10           1              5      45   no
4    1005     11         4          7           2              0      75  yes

In [27]:
df.head(2)

   Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg dumy
0    1001     10         2          9           3              5      50  yes
1    1002     10         6          8           2              0      80  yes

In [28]:
df.tail()

   Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg dumy
5    1006     11        10          7           0              0      96  yes
6    1007     12         4          6           0              0      80  yes
7    1008     12        10          6           2              0      90   no
8    1009     12         2          8           2              4      60   no
9    1010     12         6          9           1              0      85  yes

In [29]:
df.tail(3)

   Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg dumy
7    1008     12        10          6           2              0      90   no
8    1009     12         2          8           2              4      60   no
9    1010     12         6          9           1              0      85  yes

In [30]:
df8 = pd.read_csv('C:\\Workspace\Pri\\data science and ML practice\jupyter\\student_results.csv', dtype = {'Student ID': 'float64'}, usecols = [0])
print(df8.tail(6))

   Stu_ID
4    1005
5    1006
6    1007
7    1008
8    1009
9    1010

In [31]:
df8a = pd.read_csv('C:\\Workspace\Pri\\data science and ML practice\jupyter\\student_results.csv', dtype = {'Student ID': 'float64','Class': 'float64'})
print(df8a)

   Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg dumy
0    1001   10.0         2          9           3              5      50  yes
1    1002   10.0         6          8           2              0      80  yes
2    1003   10.0         3          8           2              4      60   no
3    1004   11.0         0         10           1              5      45   no
4    1005   11.0         4          7           2              0      75  yes
5    1006   11.0        10          7           0              0      96  yes
6    1007   12.0         4          6           0              0      80  yes
7    1008   12.0        10          6           2              0      90   no
8    1009   12.0         2          8           2              4      60   no
9    1010   12.0         6          9           1              0      85  yes

In [32]:
df

   Stu_ID  Class  Stdy_hrs  Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg dumy
0    1001     10         2          9           3              5      50  yes
1    1002     10         6          8           2              0      80  yes
2    1003     10         3          8           2              4      60   no
3    1004     11         0         10           1              5      45   no
4    1005     11         4          7           2              0      75  yes
5    1006     11        10          7           0              0      96  yes
6    1007     12         4          6           0              0      80  yes
7    1008     12        10          6           2              0      90   no
8    1009     12         2          8           2              4      60   no
9    1010     12         6          9           1              0      85  yes

In [33]:
df9 = pd.read_csv('C:\\Workspace\Pri\\data science and ML practice\jupyter\\student_results.csv', true_values=['yes'],false_values=['no'], usecols=[3,4,5,6,7])
print(df9)

   Slpng_hrs  online_hrs  Mob.Games_hrs  Perctg   dumy
0          9           3              5      50   True
1          8           2              0      80   True
2          8           2              4      60  False
3         10           1              5      45  False
4          7           2              0      75   True
5          7           0              0      96   True
6          6           0              0      80   True
7          6           2              0      90  False
8          8           2              4      60  False
9          9           1              0      85   True