# How to create  DataFrame

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([1,2,3])
print(df)

   0
0  1
1  2
2  3

In [3]:
list_1 = [[1,2,3],[4,5,6],[7,8,9]]
df1 = pd.DataFrame(list_1)
print(df1)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
list_1a = [[1,2,3],[4,5,6],[7,8,9]]
df1a = pd.DataFrame(list_1a )#, index == ['a','b','c'])
print(df1a)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [8]:
dict_1 = {'girls':[1,2,3],'boys':[4,5,6],'kids':[7,8,9]}
df2 = pd.DataFrame(dict_1)
print(df2)

   girls  boys  kids
0      1     4     7
1      2     5     8
2      3     6     9

In [11]:
dict_2 = [{'girls':[1,2,3]},{'boys':[4,5,6]},{'kids':[7,8]}]
df3 = pd.DataFrame(dict_2)
print(df3)

       girls       boys    kids
0  [1, 2, 3]        NaN     NaN
1        NaN  [4, 5, 6]     NaN
2        NaN        NaN  [7, 8]

In [19]:
dict_seri = {'girls':pd.Series([1,2,3]),'boys':pd.Series([4,5,6]),'kids':pd.Series([7,8,9])}
df_6 = pd.DataFrame(dict_seri)
print(df_6)

   girls  boys  kids
0      1     4     7
1      2     5     8
2      3     6     9

In [15]:
dict_2a = [{'girls':1,'boys':4},{'girls':22,'boys':55,'kids':88}]
df4 = pd.DataFrame(dict_2a)
print(df4)

   girls  boys  kids
0      1     4   NaN
1     22    55  88.0

In [20]:
dict_2b = [{'girls':pd.Series([1,2,3]),'boys':pd.Series([4,5,6]),'kids':pd.Series([7,8,9])},{'girls':pd.Series([11,22,33]),'boys':pd.Series([44,55,66])}]
df5 = pd.DataFrame(dict_2b)
print(df5)

                                  girls                                  boys  \
0     0    1
1    2
2    3
dtype: int64     0    4
1    5
2    6
dtype: int64
1  0    11
1    22
2    33
dtype: int64  0    44
1    55
2    66
dtype: int64

                                kids
0  0    7
1    8
2    9
dtype: int64
1                                NaN