In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:\Workspace\Pri\data science and ML practice\jupyter\DataBases\Datetimeindex.csv', parse_dates=['Date'])
df

         Date  Profit
0  2019-01-07    5001
1  2019-02-07    5072
2  2019-03-07    5050
3  2019-04-07    5057
4  2019-05-07    5055
5  2019-06-07    5075
6         NaT    5041
7         NaT    5085
8  2019-09-07    5096
9  2019-10-07    5036
10 2019-11-07    5074
11 2019-12-07    5023

In [3]:
df.dtypes

Date      datetime64[ns]
Profit             int64
dtype: object

In [4]:
type(df.Date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [5]:
df

         Date  Profit
0  2019-01-07    5001
1  2019-02-07    5072
2  2019-03-07    5050
3  2019-04-07    5057
4  2019-05-07    5055
5  2019-06-07    5075
6         NaT    5041
7         NaT    5085
8  2019-09-07    5096
9  2019-10-07    5036
10 2019-11-07    5074
11 2019-12-07    5023

In [6]:
#df.interpolate()