In [1]:
import pandas as pd

In [2]:
list_1 = [1,2,3,4,5,'data']
print(list_1)

[1, 2, 3, 4, 5, 'data']

In [3]:
series_1 = pd.Series(list_1)          # it create 1 dimetinal series
print(series_1)
#type(series_1)

0       1
1       2
2       3
3       4
4       5
5    data
dtype: object

In [4]:
type(list_1)

list

In [5]:
type(series_1)

pandas.core.series.Series

In [6]:
series_2 = pd.Series([6,7,8,9,'dataa'])      # 1d series create manually list element
print(series_2)

0        6
1        7
2        8
3        9
4    dataa
dtype: object

In [7]:
type(series_2)

pandas.core.series.Series

In [8]:
series_3 = pd.Series([1,2,3,4], index = ['a','b','c','d'])
print(series_3)

a    1
b    2
c    3
d    4
dtype: int64

In [9]:
series_3a = pd.Series([1,2,3,4], index = ['a','b','c','d'], dtype = float)
print(series_3a)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [10]:
series_3b = pd.Series([1,2,3,4], index = ['a','b','c','d'] , name = 'Data Value')
print(series_3b)

a    1
b    2
c    3
d    4
Name: Data Value, dtype: int64

In [11]:
dict_1 = pd.Series({'A':1,'B':2})              # using dictionary to form series
print(dict_1)

A    1
B    2
dtype: int64

In [12]:
scalar_1 = pd.Series(0.5)                     #scalar use to create only one value
print(scalar_1)

0    0.5
dtype: float64

In [13]:
scalar_2 = pd.Series(0.5, index =['1','2','3','4'])    #scalar use to create only one value for multiply times using index
print(scalar_2)

1    0.5
2    0.5
3    0.5
4    0.5
dtype: float64

In [14]:
print(series_3b)

a    1
b    2
c    3
d    4
Name: Data Value, dtype: int64

In [15]:
series_3b[0]                           # to know that Index value

1

In [16]:
series_3b[3]                           # to know that Index value

4

In [17]:
series_3b[0:2]

a    1
b    2
Name: Data Value, dtype: int64

In [18]:
max(series_3b)

4

In [19]:
min(series_3b)

1

In [20]:
series_3b > 3

a    False
b    False
c    False
d     True
Name: Data Value, dtype: bool

In [21]:
series_3b[series_3b > 3]

d    4
Name: Data Value, dtype: int64

In [22]:
series_3 + series_3b

a    2
b    4
c    6
d    8
dtype: int64

In [23]:
# series_1 + series_2    # error : unsupported operand type(s) for +: 'int' and 'str'
series_3 + dict_1

A   NaN
B   NaN
a   NaN
b   NaN
c   NaN
d   NaN
dtype: float64

In [24]:
series_4 = pd.Series([1,2,3])
print(series_4)

0    1
1    2
2    3
dtype: int64

In [25]:
series_4a = pd.Series([1,2,3,4,5])
print(series_4a)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [26]:
series_4 + series_4a

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64