In [1]:
import pandas as pd
import numpy as np
from faker import Faker

# Initialize Faker
fake = Faker()

# Define countries and cities
countries = ["USA", "Canada", "UK", "Germany", "France", "Italy", "Spain", "Australia", "Japan", "Brazil"]
cities = {
    "USA": ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix"],
    "Canada": ["Toronto", "Vancouver", "Montreal", "Calgary", "Ottawa"],
    "UK": ["London", "Manchester", "Birmingham", "Leeds", "Glasgow"],
    "Germany": ["Berlin", "Munich", "Frankfurt", "Hamburg", "Cologne"],
    "France": ["Paris", "Marseille", "Lyon", "Toulouse", "Nice"],
    "Italy": ["Rome", "Milan", "Naples", "Turin", "Palermo"],
    "Spain": ["Madrid", "Barcelona", "Valencia", "Seville", "Zaragoza"],
    "Australia": ["Sydney", "Melbourne", "Brisbane", "Perth", "Adelaide"],
    "Japan": ["Tokyo", "Osaka", "Nagoya", "Sapporo", "Fukuoka"],
    "Brazil": ["São Paulo", "Rio de Janeiro", "Brasília", "Salvador", "Fortaleza"]
}

# Generate dataset
data = []
store_id = 1

for country in countries:
    for _ in range(10):  # 10 stores per country
        city = np.random.choice(cities[country])
        store_name = f"{fake.company()} {city}"
        address = fake.address().replace("\n", ", ")
        monthly_sales = round(np.random.uniform(20000, 100000), 2)
        num_employees = np.random.randint(5, 50)
        opening_date = fake.date_between(start_date="-10y", end_date="today")
        
        data.append({
            "Store ID": store_id,
            "Country": country,
            "City": city,
            "Store Name": store_name,
            "Address": address,
            "Monthly Sales": monthly_sales,
            "Number of Employees": num_employees,
            "Opening Date": opening_date
        })
        store_id += 1

# Create DataFrame
df = pd.DataFrame(data)

# Save to CSV
df.to_csv('stores_dataset.csv', index=False)

# Display the first few rows of the dataset
print(df.head())

   Store ID Country         City               Store Name  \
0         1     USA      Chicago      Jones Group Chicago
1         2     USA      Phoenix    Moss and Sons Phoenix
2         3     USA  Los Angeles  Cameron PLC Los Angeles
3         4     USA      Houston      Hancock Inc Houston
4         5     USA      Chicago          Lee PLC Chicago

                                             Address  Monthly Sales  \
0  5676 Michael Port Suite 128, South Holly, WV 6...       68560.33
1  14727 Ashley Stream Suite 079, West Stephenfur...       38033.03
2           004 Kara Meadow, Tamaraborough, MH 12211       93110.37
3  8966 Kristina Run Suite 103, Lake Hollyside, V...       49989.72
4          95298 Wilson Manors, Jamesville, ID 40631       35920.43

   Number of Employees Opening Date
0                   37   2020-05-25
1                   31   2019-01-11
2                   27   2022-08-16
3                   19   2020-05-31
4                   25   2019-07-16